## Load the Data

In [2]:
import pandas as pd

# Load your CSV files
postings = pd.read_csv('postings.csv')
companies = pd.read_csv('companies/companies.csv')
company_industries = pd.read_csv('companies/company_industries.csv')
company_specialities = pd.read_csv('companies/company_specialities.csv')
employee_counts = pd.read_csv('companies/employee_counts.csv')
salaries = pd.read_csv('jobs/salaries.csv')
job_skills = pd.read_csv('jobs/job_skills.csv')
job_industries = pd.read_csv('jobs/job_industries.csv')
benefits = pd.read_csv('jobs/benefits.csv')

In [3]:
pd.set_option('display.max_columns', None)

In [4]:
# Check the structure of each DataFrame
postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 123849 entries, 0 to 123848
Data columns (total 31 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   job_id                      123849 non-null  int64
 1   company_name                122130 non-null  object
 2   title                       123849 non-null  object
 3   description                 123842 non-null  object
 4   max_salary                  29793 non-null   float64
 5   pay_period                  36073 non-null   object
 6   location                    123849 non-null  object
 7   company_id                  122132 non-null  float64
 8   views                       122160 non-null  float64
 9   med_salary                  6280 non-null    float64
 10  min_salary                  29793 non-null   float64
 11  formatted_work_type         123849 non-null  object
 12  applies                     23320 non-null   float64
 13  original_listed_time        123849 non-null  float64
 14  remote_allowed              15246 non-null   float64
 15  job_posting_url             123849 non-null  object
 16  application_url             87184 non-null   object
 17  application_type            123849 non-null  object
 18  expiry                      123849 non-null  float64
 19  closed_time                 1073 non-null    float64
 20  formatted_experience_level  94440 non-null   object
 21  skills_desc                 2439 non-null    object
 22  listed_time                 123849 non-null  float64
 23  posting_domain              83881 non-null   object
 24  sponsored                   123849 non-null  int64
 25  work_type                   123849 non-null  object
 26  currency                    36073 non-null   object
 27  compensation_type           36073 non-null   object
 28  normalized_salary           36073 non-null   float64
 29  zip_code                    102977 non-null  float64
 30  fips                        96434 non-null   float64
dtypes: float64(14), int64(2), object(15)
memory usage: 29.3+ MB

In [5]:
postings.head(3)

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,med_salary,min_salary,formatted_work_type,applies,original_listed_time,remote_allowed,job_posting_url,application_url,application_type,expiry,closed_time,formatted_experience_level,skills_desc,listed_time,posting_domain,sponsored,work_type,currency,compensation_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,20.0,HOURLY,"Princeton, NJ",2774458.0,20.0,NaN,17.0,Full-time,2.0,1.713398e+12,NaN,https://www.linkedin.com/jobs/view/921716/?trk...,NaN,ComplexOnsiteApply,1.715990e+12,NaN,NaN,Requirements: \n\nWe are seeking a College or ...,1.713398e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,38480.0,8540.0,34021.0
1,1829192,NaN,Mental Health Therapist/Counselor,"At Aspen Therapy and Wellness , we are committ...",50.0,HOURLY,"Fort Collins, CO",NaN,1.0,NaN,30.0,Full-time,NaN,1.712858e+12,NaN,https://www.linkedin.com/jobs/view/1829192/?tr...,NaN,ComplexOnsiteApply,1.715450e+12,NaN,NaN,NaN,1.712858e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,83200.0,80521.0,8069.0
2,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,65000.0,YEARLY,"Cincinnati, OH",64896719.0,8.0,NaN,45000.0,Full-time,NaN,1.713278e+12,NaN,https://www.linkedin.com/jobs/view/10998357/?t...,NaN,ComplexOnsiteApply,1.715870e+12,NaN,NaN,We are currently accepting resumes for FOH - A...,1.713278e+12,NaN,0,FULL_TIME,USD,BASE_SALARY,55000.0,45202.0,39061.0

In [6]:
postings.isnull().sum()

job_id                             0
company_name                    1719
title                              0
description                        7
max_salary                     94056
pay_period                     87776
location                           0
company_id                      1717
views                           1689
med_salary                    117569
min_salary                     94056
formatted_work_type                0
applies                       100529
original_listed_time               0
remote_allowed                108603
job_posting_url                    0
application_url                36665
application_type                   0
expiry                             0
closed_time                   122776
formatted_experience_level     29409
skills_desc                   121410
listed_time                        0
posting_domain                 39968
sponsored                          0
work_type                          0
currency                       87776
compensation_type              87776
normalized_salary              87776
zip_code                       20872
fips                           27415
dtype: int64

## Handling Missing Data: Postings.csv

In [7]:
postings = postings.dropna(subset=['company_name', 'company_id'], how='all')

In [8]:
postings = postings.dropna(subset=['max_salary', 'min_salary', 'med_salary'], how='all')

In [9]:
postings['pay_period'].fillna('Unknown', inplace=True)
postings['remote_allowed'].fillna(0.0, inplace=True)

In [10]:
postings['applies'].fillna(0, inplace=True)
postings['views'].fillna(0, inplace=True)

In [11]:
postings.drop(['closed_time'], axis=1, inplace=True)

In [12]:
postings['description'].fillna('No description provided', inplace=True)
postings['skills_desc'].fillna('No description provided', inplace=True)

In [13]:
remote_allowed_counts = postings['remote_allowed'].value_counts()
remote_allowed_counts

remote_allowed
0.0    30809
1.0     4755
Name: count, dtype: int64

In [14]:
postings.isnull().sum()

job_id                            0
company_name                      1
title                             0
description                       0
max_salary                     6225
pay_period                        0
location                          0
company_id                        0
views                             0
med_salary                    29339
min_salary                     6225
formatted_work_type               0
applies                           0
original_listed_time              0
remote_allowed                    0
job_posting_url                   0
application_url               12883
application_type                  0
expiry                            0
formatted_experience_level     7709
skills_desc                       0
listed_time                       0
posting_domain                14405
sponsored                         0
work_type                         0
currency                          0
compensation_type                 0
normalized_salary                 0
zip_code                       6737
fips                           8540
dtype: int64

In [15]:
# Fill remaining missing values
postings['company_name'].fillna('Unknown', inplace=True)  # Fill with 'Unknown'
postings['max_salary'].fillna(0.0, inplace=True)  # Fill with 0.0
postings['med_salary'].fillna(0.0, inplace=True)  # Fill with 0.0
postings['min_salary'].fillna(0.0, inplace=True)  # Fill with 0.0
postings['application_url'].fillna('No URL provided', inplace=True)  # Fill with placeholder
postings['formatted_experience_level'].fillna('Not specified', inplace=True)  # Fill with placeholder
postings['posting_domain'].fillna('Unknown', inplace=True)  # Fill with 'Unknown'
postings['zip_code'].fillna('Unknown', inplace=True)  # Fill with 'Unknown'
postings['fips'].fillna(0.0, inplace=True)  # Fill with 0.0

# Final check for any remaining missing values
print(postings.isnull().sum())

job_id                        0
company_name                  0
title                         0
description                   0
max_salary                    0
pay_period                    0
location                      0
company_id                    0
views                         0
med_salary                    0
min_salary                    0
formatted_work_type           0
applies                       0
original_listed_time          0
remote_allowed                0
job_posting_url               0
application_url               0
application_type              0
expiry                        0
formatted_experience_level    0
skills_desc                   0
listed_time                   0
posting_domain                0
sponsored                     0
work_type                     0
currency                      0
compensation_type             0
normalized_salary             0
zip_code                      0
fips                          0
dtype: int64

C:\Users\ABHITS\AppData\Local\Temp\ipykernel_24088\1700049007.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  postings['zip_code'].fillna('Unknown', inplace=True)  # Fill with 'Unknown'

## Handling Missing Data: Companies.csv

In [16]:
companies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24473 entries, 0 to 24472
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   company_id    24473 non-null  int64
 1   name          24472 non-null  object
 2   description   24176 non-null  object
 3   company_size  21699 non-null  float64
 4   state         24451 non-null  object
 5   country       24473 non-null  object
 6   city          24472 non-null  object
 7   zip_code      24445 non-null  object
 8   address       24451 non-null  object
 9   url           24473 non-null  object
dtypes: float64(1), int64(1), object(8)
memory usage: 1.9+ MB

In [17]:
companies.head()

,company_id,name,description,company_size,state,country,city,zip_code,address,url
0,1009,IBM,"At IBM, we do more than work. We create. We cr...",7.0,NY,US,"Armonk, New York",10504,International Business Machines Corp.,https://www.linkedin.com/company/ibm
1,1016,GE HealthCare,Every day millions of people feel the impact o...,7.0,0,US,Chicago,0,-,https://www.linkedin.com/company/gehealthcare
2,1025,Hewlett Packard Enterprise,Official LinkedIn of Hewlett Packard Enterpris...,7.0,Texas,US,Houston,77389,1701 E Mossy Oaks Rd Spring,https://www.linkedin.com/company/hewlett-packa...
3,1028,Oracle,We’re a cloud technology company that provides...,7.0,Texas,US,Austin,78741,2300 Oracle Way,https://www.linkedin.com/company/oracle
4,1033,Accenture,Accenture is a leading global professional ser...,7.0,0,IE,Dublin 2,0,Grand Canal Harbour,https://www.linkedin.com/company/accenture

In [18]:
companies.isnull().sum()

company_id         0
name               1
description      297
company_size    2774
state             22
country            0
city               1
zip_code          28
address           22
url                0
dtype: int64

In [19]:
companies['name'].fillna('Unknown', inplace=True)
companies['description'].fillna('No description provided', inplace=True)
companies['company_size'].fillna(0.0, inplace=True)
companies['state'].fillna('Unknown', inplace=True)
companies['city'].fillna('Unknown', inplace=True)
companies['zip_code'].fillna('Unknown', inplace=True)
companies['address'].fillna('Unknown', inplace=True)

In [20]:
companies.drop_duplicates(subset=['company_id'], inplace=True)

In [21]:
companies['name'] = companies['name'].str.lower()
companies['state'] = companies['state'].str.lower()
companies['city'] = companies['city'].str.lower()
companies['country'] = companies['country'].str.lower()

In [22]:
companies.isnull().sum()

company_id      0
name            0
description     0
company_size    0
state           0
country         0
city            0
zip_code        0
address         0
url             0
dtype: int64

In [23]:
duplicate_count = companies['company_id'].duplicated().sum()
duplicate_count

0

## Handling Missing Data: Company_industries.csv

In [24]:
company_industries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24375 entries, 0 to 24374
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   company_id  24375 non-null  int64
 1   industry    24375 non-null  object
dtypes: int64(1), object(1)
memory usage: 381.0+ KB

In [71]:
company_industries.isnull().sum()

company_id    0
industry      0
dtype: int64

## Handling Missing Data: company_specialities.csv

In [25]:
company_specialities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169387 entries, 0 to 169386
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   company_id  169387 non-null  int64
 1   speciality  169387 non-null  object
dtypes: int64(1), object(1)
memory usage: 2.6+ MB

In [26]:
company_specialities.isnull().sum()

company_id    0
speciality    0
dtype: int64

## Handling Missing Data: Employee_counts.csv

In [78]:
employee_counts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35787 entries, 0 to 35786
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   company_id      35787 non-null  int64
 1   employee_count  35787 non-null  int64
 2   follower_count  35787 non-null  int64
 3   time_recorded   35787 non-null  int64
dtypes: int64(4)
memory usage: 1.1 MB

In [79]:
employee_counts.isnull().sum()

company_id        0
employee_count    0
follower_count    0
time_recorded     0
dtype: int64

## Handling Missing Data: Benefits.csv

In [80]:
benefits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67943 entries, 0 to 67942
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   job_id    67943 non-null  int64
 1   inferred  67943 non-null  int64
 2   type      67943 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.6+ MB

In [81]:
benefits.isnull().sum()

job_id      0
inferred    0
type        0
dtype: int64

## Handling Missing Data: Job_industries.csv

In [82]:
job_industries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 164808 entries, 0 to 164807
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   job_id       164808 non-null  int64
 1   industry_id  164808 non-null  int64
dtypes: int64(2)
memory usage: 2.5 MB

In [83]:
job_industries.isnull().sum()

job_id         0
industry_id    0
dtype: int64

## Handling Missing Data: Job_skills.csv

In [84]:
job_skills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 213768 entries, 0 to 213767
Data columns (total 2 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   job_id     213768 non-null  int64
 1   skill_abr  213768 non-null  object
dtypes: int64(1), object(1)
memory usage: 3.3+ MB

In [85]:
job_skills.isnull().sum()

job_id       0
skill_abr    0
dtype: int64

## Handling Missing Data: Salaries.csv

In [27]:
salaries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40785 entries, 0 to 40784
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   salary_id          40785 non-null  int64
 1   job_id             40785 non-null  int64
 2   max_salary         33947 non-null  float64
 3   med_salary         6838 non-null   float64
 4   min_salary         33947 non-null  float64
 5   pay_period         40785 non-null  object
 6   currency           40785 non-null  object
 7   compensation_type  40785 non-null  object
dtypes: float64(3), int64(2), object(3)
memory usage: 2.5+ MB

In [28]:
salaries.isnull().sum()

salary_id                0
job_id                   0
max_salary            6838
med_salary           33947
min_salary            6838
pay_period               0
currency                 0
compensation_type        0
dtype: int64

In [29]:
salaries = salaries.dropna(subset=['max_salary', 'min_salary', 'med_salary'], how='all')

In [30]:
salaries['max_salary'].fillna(0.0, inplace=True)  # Fill with 0.0
salaries['med_salary'].fillna(0.0, inplace=True)  # Fill with 0.0
salaries['min_salary'].fillna(0.0, inplace=True)  # Fill with 0.0

In [31]:
salaries.isnull().sum()

salary_id            0
job_id               0
max_salary           0
med_salary           0
min_salary           0
pay_period           0
currency             0
compensation_type    0
dtype: int64

## Handling Missing Data: Industries.csv

In [32]:
industries = pd.read_csv('mappings/industries.csv')

In [33]:
industries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422 entries, 0 to 421
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   industry_id    422 non-null    int64
 1   industry_name  388 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.7+ KB

In [34]:
industries.isnull().sum()

industry_id       0
industry_name    34
dtype: int64

In [35]:
industries['industry_name'].fillna('Unknown', inplace=True)

## Handling Missing Data: Skills.csv

In [36]:
skills = pd.read_csv('mappings/skills.csv')

In [37]:
skills.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   skill_abr   35 non-null     object
 1   skill_name  35 non-null     object
dtypes: object(2)
memory usage: 692.0+ bytes

In [38]:
skills.isnull().sum()

skill_abr     0
skill_name    0
dtype: int64

### Check for Duplicates

In [39]:
duplicates = postings[postings.duplicated()]
duplicates

Empty DataFrame
Columns: [job_id, company_name, title, description, max_salary, pay_period, location, company_id, views, med_salary, min_salary, formatted_work_type, applies, original_listed_time, remote_allowed, job_posting_url, application_url, application_type, expiry, formatted_experience_level, skills_desc, listed_time, posting_domain, sponsored, work_type, currency, compensation_type, normalized_salary, zip_code, fips]
Index: []

## Save the Cleaned Data

In [40]:
import os 

folder_path = 'cleaned_data'  # Change the name as needed

# Create the folder if it doesn't exist
os.makedirs(folder_path, exist_ok=True)

In [42]:
postings.to_csv(os.path.join(folder_path, 'Postings_Cleaned.csv'), index=False)

companies.to_csv(os.path.join(folder_path, 'Companies_Cleaned.csv'), index=False)
company_industries.to_csv(os.path.join(folder_path, 'Company_industries_Cleaned.csv'), index=False)
company_specialities.to_csv(os.path.join(folder_path, 'Company_specialities_Cleaned.csv'), index=False)
employee_counts.to_csv(os.path.join(folder_path, 'Employee_counts_Cleaned.csv'), index=False)

benefits.to_csv(os.path.join(folder_path, 'Benefits_Cleaned.csv'), index=False)
job_industries.to_csv(os.path.join(folder_path, 'Job_industries_Cleaned.csv'), index=False)
job_skills.to_csv(os.path.join(folder_path, 'Job_skills_Cleaned.csv'), index=False)
salaries.to_csv(os.path.join(folder_path, 'Salaries_Cleaned.csv'), index=False)

industries.to_csv(os.path.join(folder_path, 'Industries_Cleaned.csv'), index=False)
skills.to_csv(os.path.join(folder_path, 'Skills_Cleaned.csv'), index=False)