#### **Skills Analysis:** Identify the most commonly required skills for different job titles. What skills are in high demand?
#### **Skills Gaps:** Compare the skills listed in job postings with those possessed by current job seekers (if you have any candidate data) to identify potential skills gaps.

In [1]:
import pandas as pd

# Load the datasets
postings = pd.read_csv('updated_data\postings.csv')
companies = pd.read_csv('updated_data\company.csv')
company_industries = pd.read_csv('updated_data\company_industries.csv')
company_specialities = pd.read_csv('updated_data\company_specialities.csv')
employee_counts = pd.read_csv('updated_data\employee_counts.csv')
salaries = pd.read_csv('updated_data\salaries.csv')
job_skills = pd.read_csv('updated_data\Job_skills.csv')
job_industries = pd.read_csv('updated_data\modified_job_industries.csv')

In [2]:
postings = postings.astype({
    'job_id': 'int32',
    'company_name': 'string',    # Use 'string' for modern text processing (like VARCHAR)
    'title': 'string',
    'description': 'string',
    'pay_period': 'string',
    'location': 'string',
    'company_id': 'int32',
    'views': 'int32',
    'formatted_work_type': 'string',
    'applies': 'int32',
    'job_posting_url': 'string',
    'work_type': 'string',
    'normalized_salary': 'float',
    'zip_code': 'string',
    'fips': 'int32'
})

postings['original_listed_time'] = pd.to_datetime(postings['original_listed_time'], errors='coerce')
postings['expiry'] = pd.to_datetime(postings['expiry'], errors='coerce')

In [3]:
postings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35564 entries, 0 to 35563
Data columns (total 19 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   job_id                35564 non-null  int32
 1   company_name          35564 non-null  string
 2   title                 35564 non-null  string
 3   description           35564 non-null  string
 4   pay_period            35564 non-null  string
 5   location              35564 non-null  string
 6   company_id            35564 non-null  int32
 7   views                 35564 non-null  int32
 8   formatted_work_type   35564 non-null  string
 9   applies               35564 non-null  int32
 10  original_listed_time  35564 non-null  datetime64[ns]
 11  remote_allowed        35564 non-null  bool
 12  job_posting_url       35564 non-null  string
 13  expiry                35564 non-null  datetime64[ns]
 14  listed_time           35564 non-null  object
 15  work_type             35564 non-null  string
 16  normalized_salary     35564 non-null  float64
 17  zip_code              35564 non-null  string
 18  fips                  35564 non-null  int32
dtypes: bool(1), datetime64[ns](2), float64(1), int32(5), object(1), string(9)
memory usage: 4.2+ MB

In [3]:
postings.head(3)

,job_id,company_name,title,description,pay_period,location,company_id,views,formatted_work_type,applies,original_listed_time,remote_allowed,job_posting_url,expiry,listed_time,work_type,normalized_salary,zip_code,fips
0,921716,Corcoran Sawyer Smith,Marketing Coordinator,Job descriptionA leading real estate firm in N...,HOURLY,"Princeton, NJ",2774458,20,Full-time,2,2024-04-17 23:45:08,False,https://www.linkedin.com/jobs/view/921716/?trk...,2024-05-17 23:45:08,2024-04-17 23:45:08,FULL_TIME,38480.0,8540.0,34021
1,10998357,The National Exemplar,Assitant Restaurant Manager,The National Exemplar is accepting application...,YEARLY,"Cincinnati, OH",64896719,8,Full-time,0,2024-04-16 14:26:54,False,https://www.linkedin.com/jobs/view/10998357/?t...,2024-05-16 14:26:54,2024-04-16 14:26:54,FULL_TIME,55000.0,45202.0,39061
2,23221523,"Abrams Fensterman, LLP",Senior Elder Law / Trusts and Estates Associat...,Senior Associate Attorney - Elder Law / Trusts...,YEARLY,"New Hyde Park, NY",766262,16,Full-time,0,2024-04-12 04:23:32,False,https://www.linkedin.com/jobs/view/23221523/?t...,2024-05-12 04:23:32,2024-04-12 04:23:32,FULL_TIME,157500.0,11040.0,36059

In [10]:
merged_df = pd.merge(postings, job_skills, on='job_id')
merged_df.shape

(30, 20)

In [6]:
skills = pd.read_csv('updated_data\skills.csv')

In [12]:
full_df = pd.merge(merged_df, skills, on='skill_abr')

## TODO: randomly select job_id from postings and add it to job skills
##       In postings restore the column skills